.customOverlay {
    background: rgba(36, 123, 160, 0.7);
}
.customModal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-x: auto;
}